/* VIEW OTHER CASE STUDIES button */

.btn-view-other-cases {
  	display: inline-block;
	padding: 1.8rem 2.125rem 1.8rem 2.125rem;
    margin-top: 6%;
	border: 0.125rem solid black;
	border-radius: 2rem;
	background-color: transparent;
	color: black;
    font: 1rem/0rem "indivisible", sans-serif;
    font-weight: 600;
    font-style: normal;
	transition: all 0.2s;  
}

.btn-view-other-cases:hover {
	background-color: black;
	color: white;
	text-decoration: none;
}

/* whole header background settings */
.ux_header {
    background-color: #7D8BD8;
    background-image: url('images/bridge_background.png'); 
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    width: 100%;
}

.inclinico_header {
    background-color: #9D91E9;
    background-image: url('images/inclinico_background.png'); 
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    width: 100%;}

/* case name alignment settings */
.ux_header .text-container {
    z-index: 999;
    width: 100%;
    margin-top: 26%;
    margin-bottom: 20%;
    position: relative;
    text-align: center;
}


/* case name alignment settings */
.inclinico_header .text-container {
    z-index: 999;
    width: 100%;
    margin-top: 26%;
    margin-bottom: 20%;
    position: relative;
    text-align: center;
}

/* case name */
.case_name {
    width: 4rem;
    color: rgba(255, 255, 255, 0.1);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
	font: 13rem/7.5rem "indivisible";
    font-weight: 900;
    font-style: normal;
	letter-spacing: -4px;
    position: relative;
}

.case_name:hover {
    color: white;
}

/* overview section */
.ux-section {
    text-align: center;
    padding-bottom: 8%;
    padding-top: 8%;
}

.ux-section-container {
    
    text-align: left;
    padding-top: 3%;
}

.ux-section .h1 {
    text-align: center;
}

/* subsection name */
.subsection {
    text-align: left;
	color: black;
    text-transform: uppercase;
	font: 1.175rem/1.75rem "indivisible", sans-serif;
    font-weight: 700;
    font-style: normal;
	letter-spacing: -0.1px;
    padding-bottom: 3%;
}

/* horizontal image section */
.horizontal-img {
    transition: all 0.2s;
    opacity: 0.8;
    background-image: url('images/students.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 22rem;
}


/* horizontal image section */
.horizontal-img-inclinico {
    transition: all 0.2s;
    opacity: 0.8;
    background-image: url('images/scientist.png'); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 22rem;
}

/* body text in half of the screen with margin */
.half-body-text-left {
    display: inline-block;
    vertical-align: top;
    width: 46.5%;
    margin-right: 6%;
}

/* body text in half of the screen */
.half-body-text-right {
    display: inline-block;
    vertical-align: top;
    width: 46.5%;
}

/* quatation text */
.quote-text {
    vertical-align: top;
    width: 94%;
    display: inline-block;
    color: black;
	font: 1.8rem/2.4rem "indivisible", sans-serif;
    font-weight: 400;
    font-style: italic;
	letter-spacing: -0.1px;
}

/* line container */
.line {
    display: inline-block;
    vertical-align: top;
    width: 2%;
}

.icon-line {
    display: inline-block;
}

/* overview text part */
.overview-text-part {
    vertical-align: top;
    display: inline-block;
    width: 70%;
}

/* overview icon and line part */
.overview-icon-part {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding-right: 2%;
}

/* icon itself */
.icon {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 90%;
}

.icon-img {
    
    width: 3.5rem;
    padding-bottom: 0.8rem;
}

.wireframe {
    display: inline-block;
    width: 23%;
    margin-right: 2%;
}


.styleguide-section {
    vertical-align: top;
    display: inline-block;
    width: 30%;
    margin-right: 2%;
}


.btn-skills .tag {
    padding: 1rem 2rem 1rem 0rem;
    border: 0rem;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left;    
}

.btn-skills .tag:disabled {
    color: white;
}

