body,
html {
    background: white;
    width: 100%;
	height: 100%;
}

.content {
  display: none;
  overflow: hidden;
}

    .p-large2 {
    color: black;
        padding-top: 5rem;
    }

hr.solid {
  border-top: 2px solid #000000;
}


hr.dotted {
  border-top: 2px dotted #bbb;
}


p {
 margin-top: -15px;

}

.p2 {
	color: black;
     margin-top: 50px;


}

h0 {
	color: white;
	font: 900 4.8rem/4.25rem "Arial";
	letter-spacing: -0.2px;
}


h02 {
	font: 900 4.8rem/4.25rem "Arial";
    background-image: -webkit-linear-gradient(right, #FFC700, #7864F6);
    background-size: 19rem;
    background-position: left;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }

h1-1 {
	color: black;
	font: 700 3.3rem/4.25rem "Arial";
	letter-spacing: -0.2px;
}


h1 {
	color: #333;
	font: 700 3.3rem/4.25rem "Arial";
	letter-spacing: -0.2px;
    
    
}


h2 {
	color: #333;
	font: 400 2rem/3.125rem "Arial";
	letter-spacing: -0.2px;
}

h4 {
    text-align: center;
	color: #333;
	font: 700 1.375rem/1.75rem "Arial";
	letter-spacing: -0.1px;
}

h6 {
	color: #333;
	font: 700 1rem/1.375rem "Arial";
	letter-spacing: -0.1px;
}

h7 {
	color: white;
	font: 00 1rem/1.375rem "Arial";
	letter-spacing: -0.1px;
}



.btn-solid-red {
	display: inline-block;
	padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
	border: 0.125rem solid #FF2727;
	border-radius: 2rem;
	background-color: #FF2727;
	color: #fff;
	font: 700 0.875rem/0 "Arial";
	text-decoration: none;
	transition: all 0.2s;
}



.btn-solid-green:hover {
	background-color: transparent;
	color: #319244;
	text-decoration: none;
}




.btn-solid-green {
	display: inline-block;
	padding: 1.1875rem 2.125rem 1.1875rem 2.125rem;
	border: 0.125rem solid #319244;
	border-radius: 2rem;
	background-color: #319244;
	color: #fff;
	font: 700 0.875rem/0 "Arial";
	text-decoration: none;
	transition: all 0.2s;
}



.btn-solid-red:hover {
	background-color: transparent;
	color: #FF2727;
	text-decoration: none;
}

.btn-collapsible {
	display: inline-block;
	padding: 1.375rem 2.625rem 1.375rem 2.625rem;
	border: 0.125rem solid #01CE87;
	border-radius: 2rem;
	background-color: #01CE87;
	color: #fff;
	font: 700 0.875rem/0 "Arial";
	text-decoration: none;
	transition: all 0.2s;
}

.btn-collapsible:hover {
	background-color: transparent;
	color: #01CE87;
	text-decoration: none;
}

.btn-collapsible-y {
	display: inline-block;
	padding: 1.375rem 2.625rem 1.375rem 2.625rem;
	border: 0.125rem solid #D91A15;
	border-radius: 2rem;
	background-color: #D91A15;
	color: #fff;
	font: 700 0.875rem/0 "Arial";
	text-decoration: none;
	transition: all 0.2s;
}

.btn-collapsible-y:hover {
	background-color: transparent;
	color: #D91A15;
	text-decoration: none;
}

.btn-collapsible-inclinico {
	display: inline-block;
	padding: 1.375rem 2.625rem 1.375rem 2.625rem;
	border: 0.125rem solid #5E35AE;
	border-radius: 2rem;
	background-color: #5E35AE;
	color: #fff;
	font: 700 0.875rem/0 "Arial";
	text-decoration: none;
	transition: all 0.2s;
}

.btn-collapsible-inclinico:hover {
	background-color: transparent;
	color: #5E35AE;
	text-decoration: none;
}

.btn-livesite {
	padding: 1.375rem 2.625rem 1.375rem 2.625rem;
	border: 0.125rem solid #01CE87;
	border-radius: 2rem;
	background-color: transparent;
	color: #01CE87;
	font: 700 0.875rem/0 "Arial";
	text-decoration: none;
	transition: all 0.2s;
}

.btn-livesite:hover {
	background-color: #01CE87;
	color: white;
	text-decoration: none;
}

.btn-livesite-div {
    text-align: center;
}

.btn-livesite-y {
	padding: 1.375rem 2.625rem 1.375rem 2.625rem;
	border: 0.125rem solid #D91A15;
	border-radius: 2rem;
	background-color: transparent;
	color: #D91A15;
	font: 700 0.875rem/0 "Arial";
	text-decoration: none;
	transition: all 0.2s;
}

.btn-livesite-y:hover {
	background-color: #D91A15;
	color: white;
	text-decoration: none;
}

.btn-livesite-y {
    text-align: center;
}


.btn-livesite-inclinico {
	padding: 1.375rem 2.625rem 1.375rem 2.625rem;
	border: 0.125rem solid #5E35AE;
	border-radius: 2rem;
	background-color: transparent;
	color: #5E35AE;
	font: 700 0.875rem/0 "Arial";
	text-decoration: none;
	transition: all 0.2s;
}

.btn-livesite-inclinico:hover {
	background-color: #5E35AE;
	color: white;
	text-decoration: none;
}

.btn-livesite-inclinico {
    text-align: center;
}




.btn-outline-sm {
	display: inline-block;
	padding: 0.875rem 1.5rem 0.875rem 1.5rem;
	border: 0.125rem solid #7864F6;
	border-radius: 2rem;
	background-color: transparent;
	color: #7864F6;
	font: 700 0.875rem/0 "Arial";
	text-decoration: none;
	transition: all 0.2s;
}

.btn-outline-sm:hover {
	background-color: #7864F6;
	color: #fff;
	text-decoration: none;
}



/*************************/
/*     Preloader     */
/*************************/
.spinner-wrapper {
	position: fixed;
	z-index: 999999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #fff;
}

.spinner {
	position: absolute;
	top: 50%; /* centers the loading animation vertically one the screen */
	left: 50%; /* centers the loading animation horizontally one the screen */
	width: 3.75rem;
	height: 1.25rem;
	margin: -0.625rem 0 0 -1.875rem; /* is width and height divided by two */ 
	text-align: center;
}

.spinner > div {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	border-radius: 100%;
	background-color: #7864F6;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0); }
	40% { -webkit-transform: scale(1.0); }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		transform: scale(0);
	} 40% { 
		-webkit-transform: scale(1.0);
		-ms-transform: scale(1.0);
		transform: scale(1.0);
	}
}


/**************************/
/*     Navigation     */
/**************************/
.navbar-custom {
	background-color: rgba(0, 0, 0, .4);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: white;
	box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
	font: 700 0.875rem/0.875rem "Arial";
	transition: all 0.2s;
}

.navbar-custom .container {
	max-width: 87.5rem;
}

.navbar-custom .navbar-brand.logo-image img {
    width: 4.4375rem;
	height: 1.75rem;
}

.navbar-custom .navbar-brand.logo-text {
	font: 700 2rem/1.5rem "Arial";
	color: #fff;;
	text-decoration: none;
}

.navbar-custom .navbar-nav {
	margin-top: 0.75rem;
	margin-bottom: 0.5rem;
}

.navbar-custom .nav-item .nav-link {
	padding: 0.625rem 0.75rem 0.625rem 0.75rem;
	color: #f7f5f5;
	text-decoration: none;
	transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link.active {
	color: #FFC700;
	opacity: 1;
}

/* Dropdown Menu */
.navbar-custom .dropdown:hover > .dropdown-menu {
	display: block; /* this makes the dropdown menu stay open while hovering it */
	min-width: auto;
	animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navbar-custom .dropdown-toggle:focus { /* removes dropdown outline on focus */
	outline: 0;
}

.navbar-custom .dropdown-menu {
	margin-top: 0;
	border: none;
	border-radius: 0.25rem;
	background-color: #7864F6;
}

.navbar-custom .dropdown-item {
	color: #f7f5f5;
	opacity: 0.8;
	font: 700 0.875rem/0.875rem "Arial";
	text-decoration: none;
}

.navbar-custom .dropdown-item:hover {
	background-color: #7864F6;
	color: #fff;
	opacity: 1;
}

.navbar-custom .dropdown-items-divide-hr {
	width: 100%;
	height: 1px;
	margin: 0.75rem auto 0.725rem auto;
	border: none;
	background-color: #c4d8dc;
	opacity: 0.2;
}
/* end of dropdown menu */

.navbar-custom .nav-item .btn-outline-sm {
	margin-top: 0.25rem;
	margin-bottom: 1.375rem;
	margin-left: 0.5rem;
	border: 0.125rem solid #fff;
	color: #fff;
}

.navbar-custom .nav-item .btn-outline-sm:hover {
	background-color: #FFC700;
	color: black;
	border: 0.125rem solid black;

}

.navbar-custom .navbar-toggler {
	padding: 0;
	border: none;
	color: white;
	font-size: 2rem;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-times{
	display: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-bars{
	display: inline-block;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-bars{
	display: none;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-times{
	display: inline-block;
	margin-right: 0.125rem;
}


/*********************/
/*    Header     */
/*********************/
.header {
background: rgb(120,100,246);
background: radial-gradient(at top left, rgba(120,100,246,1) 0%, rgba(0,0,0,1) 60%);}


.header .header-content {
	padding-top: 8rem;
	padding-bottom: 15rem;
	text-align: center;
}

.header .text-container {
	margin-bottom: 3rem;
}

.portfolio-1 .ux-container {
    text-align: left;
    display: inline-block;
    width: 42rem;
    max-width: 100%;
    margin-right: 1rem;
    vertical-align: top;
}

.portfolio-1 .ux-container2 {
    text-align: left;
    display: inline-block;
    width: 15rem;
    max-width: 100%;
    margin-right: 1rem;
    margin-left: 4rem;

    vertical-align: top;
}

.portfolio-1 .screens {
    text-align: left;
    display: inline-block;
    max-width: 100%;
    margin-top: 5rem;
        margin-bottom: 5rem;

    margin-right: 4rem;
    margin-left: 4rem;
    vertical-align: top;
}

.portfolio-1 .screen-title {
    text-align: center;
    margin-bottom: 1rem;
}



.header h1 {
	margin-bottom: 1rem;
	color: #fff;
	font-size: 2.5rem;
	line-height: 3rem;
}

.header .p-large {
    font: 100 3.3rem/4.25rem "Arial";
    font-weight: 600;
	margin-bottom: 2rem;
    margin-top: 2rem;
}


.header .btn-outline-lg {
	border-color: #f3f7fd;
	color: #f3f7fd;
}

.header .btn-outline-lg:hover {
	background-color: #f3f7fd;
	color: #7864F6;
}

.header-frame {
	margin-top: -1px; /* To remove white margin in FF */
	width: 100%;
	height: 6.25rem;
}


/***************************/
/*     06. Description     */
/***************************/
h10 {
  color: white;
	font: 900 4.5rem/3.125rem "Arial";
	letter-spacing: -0.2px;
}


.cards-1 {
    background-color: #FFC700;
	padding-top: 5rem;
	padding-bottom: 15rem;
	text-align: center;
	text-align: center;
    }

.cards-1 .h2-heading {
	margin-bottom: 3.5rem;
    
}

.cards-1 .card {
    
	max-width: 21rem;
	margin-right: auto;
	margin-bottom: 1rem;
	margin-left: auto;
	padding: 0;
	border: none;
    background: transparent;

}

.cards-1 .card-image {
	max-width: 16rem;
	margin-right: auto;
	margin-bottom: 2rem;
	margin-left: auto;
}

.cards-1 .card-title {
	margin-bottom: 0.5rem;
}

.cards-1 .card-body {
    
	padding: 0;
}





	.portfolio-1 .card {
        text-align: center;
		margin-right: 1rem;
        margin-bottom: 5rem;
	   margin-left: 1rem;
        display: inline-block;
		vertical-align: top; 
        max-width: 30rem;
    	height: auto;
	   padding: 10;
	   border: none;
        background: transparent;
	}

	.portfolio-1 .card-image {
    max-width: 30rem;
	margin-right: auto;
	margin-bottom: 1rem;
	margin-left: auto;
        box-shadow: 1px 1px 50px #B7B7B7;
	}

.portfolio-1 .img-screen {
    text-align: center;
        max-width: 100%;

    box-shadow: 1px 1px 50px #ECECEC;
}



.portfolio-1 {
	padding-top: 5rem;

	padding-bottom: 1rem;
	text-align: left;
    background: white;

}

.portfolio-1 .text-container {
	margin-bottom: 3.5rem;
}


.portfolio-1 .card-title {
	margin-bottom: 0.5rem;
}

.portfolio-1 .card-body {
	padding: 10;

}



/**************************/
/*     Social Media     */
/**************************/
.form {
    background-color: black;
	padding-top: 5rem;
	padding-bottom: 2rem;
}

.form .text-container {
	margin-bottom: 3.5rem;
	padding: 3.5rem 1rem 2.5rem 1rem;
	border-radius: 0.5rem;
	background-color: #f3f7fd;
}

.form h2 {
	margin-bottom: 2.75rem;
	text-align: center;
}

.form .icon-container {
	text-align: center;
}

.form .fa-stack {
	width: 3em;
	margin-bottom: 0.75rem;
	margin-right: 0.375rem;
	font-size: 1.5rem;
}

.form .fa-stack .fa-stack-1x {
    color: #fff;
	transition: all 0.2s ease;
}

.form .fa-stack .fa-stack-2x {
	color: #7864F6;
	transition: all 0.2s ease;
}

.form .fa-stack:hover .fa-stack-1x {
	color: #7864F6;
}

.form .fa-stack:hover .fa-stack-2x {
    color: #f3f7fd;
}


/**********************/
/*     14. Footer     */
/**********************/
.footer-portfolio {
    width: 100%;
	height: 2.5rem;
    background-color: black;
}

.footer-frame {
	width: 100%;
	height: 1.5rem;
}

.footer {
    
	padding-top: 3rem;
	padding-bottom: 0.5rem;
	background-color: #000000;
}

.footer .footer-col {
	width: 50rem;
    text-align: center;
	margin-bottom: 2.25rem;
}


/*************************/
/*     15. Copyright     */
/*************************/
.copyright {
	padding-top: 3rem;
	padding-bottom: 3rem;
	background-color: #000000;
	text-align: center;
}

.copyright .p-small {
	padding-top: 1.375rem;
	color: #f3f7fd;
}

.copyright a {
	color: #f3f7fd;
	text-decoration: none;
}


/**********************************/
/*     16. Back To Top Button     */
/**********************************/
a.back-to-top {
	position: fixed;
	z-index: 999;
	right: 0.75rem;
	bottom: 0.75rem;
	display: none;
	width: 2.625rem;
	height: 2.625rem;
	border-radius: 1.875rem;
	background: #4f3cda url("../images/up-arrow.png") no-repeat center 47%;
	background-size: 1.125rem 1.125rem;
	text-indent: -9999px;
}

a:hover.back-to-top {
	background-color: #4332c5; 
}



/*****************************/
/* Media Queries (screen sizes) */
/*****************************/	

/* Min-width width 68px */
@media (min-width: 68px) {
    
    
    .portfolio-1 .container {
        text-align: center;
    }
    
        .portfolio-1 .ux-container2 {
    display: none;

}
    
        .portfolio-1 .ux-container {
    text-align: center;

}
    
   .p-large {
	font: 4000 1.125rem/1.75rem "Arial";
    background-image: -webkit-linear-gradient(right, #FFC700, #7864F6); 
    background-size: 15rem;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    
    .p-large2 {
    color: black;
    }
    
    h0 {
	color: white;
	font: 900 4.2rem/3.25rem "Arial";
	letter-spacing: -0.2px;
    }
    
    h02 {
    font: 900 4.2rem/3.25rem "Arial";
	letter-spacing: -0.2px;
        
    background-image: -webkit-linear-gradient(right, #FFC700, #7864F6);
    background-size: 16rem;
    background-position: left;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }


/* Min-width width 768px */
@media (min-width: 768px) {
    
    .portfolio-1 .ux-container {
    text-align: center;
}
    
    .portfolio-1 .ux-container2 {
    display: none;

}
    
        .portfolio-1 .container {
        text-align: center;
    }
    
   .p-large {
	font: 4000 1.125rem/1.75rem "Arial";
    background-image: -webkit-linear-gradient(right, #FFC700, #7864F6);
    background-size: 15rem;
    background-position: center;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    
    h0 {
	color: white;
	font: 900 4.8rem/4.25rem "Arial";
	letter-spacing: -0.2px;
    }
    
        h02 {
	font: 900 4.8rem/4.25rem "Arial";
	letter-spacing: -0.2px;
        
    background-image: -webkit-linear-gradient(right, #FFC700, #7864F6);
    background-size: 18rem;
    background-position: left;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }


	/* Header */
	.header .text-container {
		margin-bottom: 4rem;
	}

	.header h1 {
		font-size: 3.5rem;
		line-height: 4.125rem;
	}


	.header-frame {
		height: 5.5rem;
	}
	/* end of header */


	/* Social media */
	.form .text-container {
		padding: 4rem 2.5rem 3rem 2.5rem;
	}

	.form form {
		margin-right: 4rem;
		margin-left: 4rem;
	}
	/* end of Social media */


	/* Footer */
	.footer-frame {
		height: 5rem;
	}
    
    .footer-portfolio {
        	background-color: black;

        		height: 5rem;
    }
	/* end of footer */

}
}
/* end of min-width width 768px */


/* Min-width width 992px */
@media (min-width: 992px) {
    
        .portfolio-1 .container {
        text-align: left;
    }
    
.portfolio-1 .ux-container {
    text-align: left;
    display: inline-block;
    width: 25rem;
    max-width: 100%;
    margin-right: 1rem;
    vertical-align: top;
}

.portfolio-1 .ux-container2 {
    text-align: left;
    display: inline-block;
    width: 15rem;
    max-width: 100%;
    margin-right: 1rem;
    margin-left: 4rem;
    margin-top: 6rem;

    vertical-align: top;
}
    
    
    .p-large {
	font: 4000 1.125rem/1.75rem "Arial";
    background-image: -webkit-linear-gradient(right, #FFC700, #7864F6);
    background-size: 16rem;
    background-position: left;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    
    	    h0 {
	color: white;
	font: 900 4.8rem/4.25rem "Arial";
	letter-spacing: -0.2px;
}
    
        	    h02 {
	font: 900 4.8rem/4.25rem "Arial";
	letter-spacing: -0.2px;
}
    
    .portfolio-1 .card {
        max-width: 46%;
	}

	.portfolio-1 .card-image {
    max-width: 100%;
	}
    
    
    .portfolio-1 .text-container {
        text-align: left;
    }
    
	
	/* Navigation */
	.navbar-custom {
		padding: 2.125rem 1.5rem 2.125rem 2rem;
        background: transparent;
		box-shadow: none;
            border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: white;
	}

	.navbar-custom .navbar-nav {
		margin-top: 0;
		margin-bottom: 0;
	}

	.navbar-custom .nav-item .nav-link {
		padding: 0.25rem 0.75rem 0.25rem 0.75rem;
	}
	
	.navbar-custom .nav-item .nav-link:hover,
	.navbar-custom .nav-item .nav-link.active {
		opacity: 1;
	}

	.navbar-custom.top-nav-collapse {
        padding: 0.5rem 1.5rem 0.5rem 2rem;
	background-color: rgba(0, 0, 0, .4);
		box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1);
	}

	.navbar-custom.top-nav-collapse .nav-item .nav-link:hover,
	.navbar-custom.top-nav-collapse .nav-item .nav-link.active {
		color: #FFC700;
	}

	.navbar-custom .dropdown-menu {
		padding-top: 1rem;
		padding-bottom: 1rem;
		border-top: 0.25rem solid rgba(0, 0, 0, 0);
		border-radius: 0.25rem;
	}

	.navbar-custom.top-nav-collapse .dropdown-menu {
		border-top: 0.25rem solid rgba(0, 0, 0, 0);
		box-shadow: 0 0.375rem 0.375rem 0 rgba(0, 0, 0, 0.02);
	}

	.navbar-custom .dropdown-item {
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
	}

	.navbar-custom .dropdown-items-divide-hr {
		width: 84%;
	}

	.navbar-custom .nav-item .btn-outline-sm {
		margin-top: 0;
		margin-bottom: 0;
		margin-left: 1rem;
	}
	/* end of navigation */



	/* Header */
	.header .header-content {
		text-align: left;

	}

	.header .text-container {
		margin-top: 4rem;
		margin-bottom: 0em;
	}

	.header .image-container {
		position: absolute;
		margin-top: 3rem;
        
	}
	
	.header .image-container .img-wrapper {
		position: relative;
		display: block;
		width: 450px;
        
	}

	.header-frame {
		height: 8rem;
        
	}
	/* end of header */


	/* Description */
    
    	.cards-1 {
		text-align: left;
	}
    
    
	.cards-1 .card {
		display: inline-block;
		width: 17rem;
		max-width: 100%;
		margin-right: 1rem;
		margin-left: 1rem;
		vertical-align: top;
	}

	.cards-1 .card-image {
		width: 9rem;
	}
	/* end of description */




	/* Newsletter */
	.form .text-container {
		width: 55rem;
		margin-right: auto;
		margin-left: auto;
		padding-top: 5rem;
		padding-bottom: 4.5rem;
	}

	.form h2 {
		margin-right: 7rem;
		margin-left: 7rem;
	}

	.form form {
		margin-right: 9rem;
		margin-left: 9rem;
	}
	/* end of newsletter */


}
/* end of min-width width 992px */


/* Min-width width 1200px */
@media (min-width: 1200px) {
    
        .portfolio-1 .container {
        text-align: left;
    }
    
    .portfolio-1 .ux-container {
    text-align: left;
    display: inline-block;
    width: 42rem;
    max-width: 100%;
    margin-right: 1rem;
    vertical-align: top;
}

.portfolio-1 .ux-container2 {
    text-align: left;
    display: inline-block;
    width: 15rem;
    max-width: 100%;
    margin-right: 1rem;
    margin-left: 4rem;
    margin-top: 0rem;

    vertical-align: top;
}

.portfolio-1 .screens {
    text-align: left;
    display: inline-block;
    max-width: 100%;
    margin-top: 5rem;
    margin-right: 4rem;
    margin-left: 4rem;
    vertical-align: top;
}

.portfolio-1 .screen-title {
    text-align: center;
    margin-bottom: 1rem;
}

    
    
    .p-large {
	font: 4000 1.125rem/1.75rem "Arial";
    background-image: -webkit-linear-gradient(right, #FFC700, #7864F6);
    background-size: 16rem;
    background-position: left;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    }
    
    .p-large2 {
    color: black;
    }
    
    	    h0 {
	color: white;
	font: 900 4.8rem/4.25rem "Arial";
	letter-spacing: -0.2px;
}
    
    	

    

    

	/* end of general styles */


	/* Header */
	.header .header-content {
		padding-top: 11rem;
		padding-bottom: 20rem;
	}

	.header .text-container {
		margin-top: 5.5rem;
		margin-right: 0.5rem;
	}

	.header .image-container {
		margin-top: 1rem;
		margin-left: 1.5rem;
	}

	.header .image-container .img-wrapper {
		width: 560px;
	}

	.header-frame {
		height: 9.375rem;
	}
	/* end of header */
	

	/* Description */
	.cards-1 .card {
		width: 18.875rem;
		margin-right: 2rem;
		margin-left: 2rem;
	}

	.cards-1 .card-image {
		width: 12.5rem;
	}
	/* end of description */




	/* Newsletter */
	.form .text-container {
		width: 64.75rem;
		padding-top: 6rem;
		padding-bottom: 5.5rem;
	}

	.form h2 {
		margin-right: 12rem;
		margin-left: 12rem;
	}

	.form form {
		margin-right: 15rem;
		margin-left: 15rem;
	}
	/* end of newsletter */


	/* Footer */
    .footer {
        text-align: center;
    }
	.footer .footer-col.first {
		margin-right: 1.5rem;
	}

	.footer .footer-col.middle {
		margin-right: 0.75rem;
		margin-left: 0.75rem;
	}

	.footer .footer-col.last {
		margin-left: 1.5rem;
	}
	/* end of footer */
}
/* end of min-width width 1200px */